
<div class="col-md-12">
    <div class="card card-container">
        <h3>Create New User</h3>
        <form #myform = "ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" required="must fill" [(ngModel)]="registerDto.name" name="name">
            </div>
            <div class="form-group">    
                <label>User Name</label>
                <input type="text" class="form-control" id="userName" required [(ngModel)]="registerDto.userName" name="userName">
            </div>
            <div class="form-group">
                <label>Email </label>
                <input type="text" class="form-control" id="salary" required [(ngModel)]="registerDto.email" name="email">
            </div>
            <div class="form-group">
                <label>Password </label>
                <input type="text" class="form-control" id="password" required [(ngModel)]="registerDto.password" name="password">
            </div>
            <div class="form-group">
                <label>Role : </label>
                <select name="role" required [(ngModel)]="registerDto.roles" class="form-control">
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_HR">HR</option>
                    <option value="ROLE_MANAGER">MANAGER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                </select>
            </div>
            <button class="btn btn-success mt-2" type="submit">Submit</button>
        </form>
    </div>
</div>

