<div class="col-md-12">
    <div class="card card-container">

        <div class="text-center">
            <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
        </div>
        <div class="text-center">
            <h2>Welcome</h2>
        </div>

        <p style="color: #007bfe; text-align: center;"> Please enter your login details</p>

        <form (ngSubmit)="onSubmit()" >
            <div>
                <label for="userNameOrEmail">User Name</label>
                <input type="userNameOrEmail" class="form-control" name="userNameOrEmail" id="userNameOrEmail"
                    [(ngModel)]="login.userNameOrEmail " />
            </div>
            <div>
                <label for="password">Password</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" autocomplete="new-password"
                    ng-reflect-name="password" type="password" class="form-control" name="password" id="password" [(ngModel)]="login.password " />
            </div>
            <div>
                <button class="btn btn-primary btn-block marginTop">Log In</button>
            </div>

        </form>

        <div class="card-footer text-right marginTop"  >
            <small><a routerLink="../register">new user? Register</a></small>
        </div>
        
    </div>
</div>


