<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        
        <a class="navbar-brand" routerLink="company">{{roleAndName}}</a>  
    
        <div class="collapse navbar-collapse d-flex" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

              
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ariaCurrentWhenActive="page" routerLink="./company">Company
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ariaCurrentWhenActive="page" routerLink="./department">Department</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ariaCurrentWhenActive="page" routerLink="./employees">Employees</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ariaCurrentWhenActive="page" [hidden]="!isAdmin"  routerLink="./create-employee">Add Employee</a>
                </li>
            </ul>     

        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" ariaCurrentWhenActive="page"  routerLink="./users">Users
                    </a>
                </li>
                <li class=" btn-primary nav-item " role="button">
                    <a class="nav-link text-light" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>