<h2>Company List</h2>
<table class="table table-striped">
    
    <thead>
        <tr>
            <td>Id</td>
            <td>Company Name</td>
            <td>Company Address</td>
            <td>Employee Details</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.address}}</td>
            <td> <button (click)="getEmployeesByCompanyId(company.id!)" class="btn btn-light"
                    style="margin-left: 10px;">View</button></td>
        </tr>
    </tbody>

</table>


