<h2>Department list</h2>
<table class="table table-striped">

  <thead>
    <tr>
      <td>Id</td>
      <td>Department Name</td>
      <td>Department Descrip</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let department of departments">
      <td>{{department.id}}</td>
      <td>{{department.departmentName}}</td>
      <td>{{department.departmentDescription}}</td>
      <td> <button (click)="getEmployeesByDepartmentName(department.id!)" class="btn btn-light"
        style="margin-left: 10px;">View</button></td>
    </tr>
  </tbody>
  
</table>


