label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  
  .card {
    background-color: #f7f7f7;
    padding: 40px 50px 60px;
    margin: 0 auto 25px;
    margin-top: 60px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(248, 6, 6, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(252, 23, 23, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 166, 221, 0.3);
  }
  